.box1 {
    width: 600px; /* width of the div element */
    height: 300px; /* height of the div element */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-color: black;
    border-style:groove;
    border-radius: 22px;

    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
 }


 .text_title{
    margin-top: 10px;
    margin-bottom: 20px;
 }

 .bt1{
    align-items: end;
 }

 .text_box{
    width: 300px;
    height: 30px;
    border-radius: 20px;

 }
 .dd{
    width: 300px;
 }

#my-dropdown{
    width: 300px;
}